<div class='profile-wrapper'>
<%= image_tag "fake_user.png",:size =>'150x150' %>
<h1><%= @user.name %>のprofile</h1>

<p>メールアドレス: <%= @user.email %></p>

<% if @user.id == current_user.id %>
  <div class="start-picture-form">
    <a href=<%= user_path(current_user.id) %>>
      
    </a>
    <a href=<%= new_picture_path %> class="show-picture-form" >
      <input type="text" placeholder="What's on your mind?(New Post)" class="form_picture" readonly="true">
    </a>
  </div>
<% end %>
<%= link_to "ブログを新規作成", pictures_path %>
</div>


