<div class="pictures-edit">
 <div class = "new-picture">
  <div class="new-picture-top">
      <span>Edit your picture</span>
  </div>
<%= form_with(model: @picture, local: true,url: choose_new_or_edit,class:"picture_wrapper") do |form| %>
    <% if @picture.errors.any? %>
      <div id="error_explanation">
        <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
   <div class='picture_form'>
    <%= image_tag 'fake_user.png',class:'picture_form-image' %>
     <%= current_user.name %><br>
  <%= form.text_area :content, class: 'form-picture-post',placeholder: "What's on your mind, #{current_user.name}?", autofocus: true %> <br/>
   <%= form.label :image, fa_icon('image', type: :solid, text: "Photo", color: 'rgb(66, 103, 178)'), class: 'photo-label' %><br/>
   <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  <%= form.file_field :image, class: 'picture-photo' %><br/>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "Post",class:'btn-default' %>
<% end %>
</div>

<%= link_to "HOME", pictures_path,class:'btn-default' %>
</div>