<div class="picture-show">
  <div class="picture">
    <p class="picture-header">
     <%= link_to distance_of_time_in_words(Time.now, @picture.created_at)+ ' ago', @picture, class: 'timestamp' %>
   <div class="picture-content">
    <p> Posted by : <%= @picture.user.name %></p><br/>
    </div>
  
  <% if current_user.id == @picture.user_id %>
    <span class="edit-delete-picture">
      <%= link_to '写真を編集', edit_picture_path(@picture) %>
      <%= link_to '削除', picture_path(@picture.id), method: :delete, data: {confirm: "本当に削除してよろしいでしょうか?"} %>
    </span>
    </div>
  <% end %>
  <p class="post-content">
    <%= @picture.content %><br/>
      <%= image_tag@picture.image.url %>
     
  </p>
   <div class="favorite-comment-buttons">
   <% unless @picture.user_id == current_user.id %>
   
     <% if @favorite.present? %>
     <%= button_to  favorite_path(id: @favorite.id), method: :delete, class: 'favorite-button unfavorite' do %>
     <%= fa_icon('thumbs-up', type: :regular, text: "favorite") %>
    <% end %>
    <% else %>
      <%= button_to  favorites_path(favorite: {picture_id: @picture.id} ), method: :post, class: "favorite-button" do %>
      <%= fa_icon('thumbs-up', type: :solid, text: "favorite") %>
    <% end %>
    <% end %>
       <button class="comment-button"><i class="far fa-comment-alt"></i> Comment</button>
       <%= link_to "もどる", pictures_path %>
  </div>
    </div> 
  </div>
  <% end %>


